/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Paytone+One&display=swap'); */

.margin-bottom {
    margin-bottom:15px;
}

.form-title {
    margin-bottom:15px;
}

.errors{
    color: red
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
  }

  .pagination li a {
    font-size: 100%;
}